/*Work on padding!!!!! and orient text*/
/*fix background-text box issue; try and make more transparent. if not use background color below*/

* {
  /*background-color: rgb(253, 253, 253);*/
  background-image: url(http://www.oceansbridge.com/paintings/artists/recently-added/december/arthur-b-frost/Arthur-B-Frost-xx-Fly-Fishing-xx-Private-Collection.jpg);
  background-repeat: scroll;
}

header {
  background: rgb(223, 251, 132);
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 40px;
  color: black;
  vertical-align: center;
}


h2,h3 {
  font-family: 'Georgia', serif;
  color: rgb(223, 251, 132);

}
p {
  font-family: 'Helvetica', sans-serif;
  background: white;
  color: black;
}
